:root {
  --black: #000;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: ;
  --orange: #f2994a;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--gray1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.hero,
.main,
.instructions {
  margin: auto;
  margin-top: 3rem;
  max-width: 36.4rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.hero .hero__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--black);
  margin-bottom: 1.2rem;
}

.hero .hero__desc {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}
.hero__desc img {
  max-width: 2rem;
  max-height: 2rem;
}

.hero__desc p {
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--gray2);
}

.hero > img {
  border-radius: 1.2rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.stat .stat__icon {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
}

.stat__desc h6 {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--gray4);
}

.stat .stat__desc--orange {
  color: var(--orange);
}

.stat__desc h5 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}

.stats__container {
  display: flex;
  gap: 4.4rem;
}

.ingredients > h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
}

.ingredient.first {
  margin-bottom: 4rem;
}

.ingredient h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}

.ingredient__desc {
  display: flex;
  gap: 0.6rem;
}

.ingredient__desc input {
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--gray3);
  flex-shrink: 0;
}

.ingredient__desc p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.instructions h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 2.8rem;
}

.instructions .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.instructions__desc {
  display: flex;
  gap: 1.6rem;
}

.instructions__desc .count {
  width: 3.6rem;
  height: 3.6rem;
  background: var(--orange);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-bottom: 0.8rem;
}

.count h4 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: white;
}

.instructions__desc p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--black);
}
.instructions__source {
  margin-top: 2.6rem;
}

.instructions__source a {
  display: block;
}

.instructions__source p,
.instructions__source a {
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray4);
}

footer {
  margin-top: 13rem;
  margin-bottom: 1.2rem;
}

footer p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  color: var(--gray3);
}

@media screen and (min-width: 992px) {
  .hero,
  .main,
  .instructions {
    margin-top: 4.8rem;
    max-width: 96.8rem;
    padding-right: 0;
    padding-left: 0;
  }
  .hero .hero__title,
  .hero .hero__desc {
    max-width: 58.8rem;
  }

  .hero .hero__title {
    font-size: 4.8rem;
    line-height: 6.4rem;
  }

  .hero .hero__desc {
    gap: 1.6rem;
    margin-bottom: 4.4rem;
  }

  .hero__desc p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .stats {
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    flex-shrink: 0;
    gap: 4.4rem;
    margin-bottom: 3rem;
    width: 21.6rem;
    height: 36.8rem;
    justify-content: center;
    padding-left: 4.2rem;
  }

  .stat {
    gap: 1.6rem;
  }

  .stat .stat__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .stat__desc h6 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .stat__desc h5 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .stats__container {
    flex-direction: column;
    gap: 4.4rem;
  }

  .ingredients > h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 2.8rem;
  }

  .ingredient h4 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .ingredient__desc {
    gap: 1.6rem;
  }

  .ingredient__desc p {
    font-size: 1.6rem;
  }

  .instructions h2 {
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
  }

  .instructions__desc p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--black);
  }
  .instructions__source {
    margin-top: 5.6rem;
  }

  .instructions__source p,
  .instructions__source a {
    font-size: 1.6rem;
    line-height: 2.4;
  }

  .instructions__source a {
    display: inline;
  }

  footer {
    margin-top: 9.2rem;
    margin-bottom: 2.4rem;
  }
}
